{{define "subject"}}Reset your Tema password{{end}}

{{define "plainBody"}}
Hi {{.userName}},

Here's the token to set a new password. Paste this token and generate new password from the tema website.

{{.passwordResetToken}}

Please note that this is a one-time use token and it will expire in 15 minutes. If you need 
another token please make a `POST /v1/tokens/password-reset` request.

Thanks,

Team Tema
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi {{.userName}},</p>
    <p>Here's the token to set a new password. Paste this token and generate new password from the tema website.</p>
    <pre><code>
    {{.passwordResetToken}}
    </code></pre>  
    <p>Please note that this is a one-time use token and it will expire in 15 minutes.
    If you need another token please make a <code>POST /v1/tokens/password-reset</code> request.</p>
    <p>Thanks,</p>
    <p>Team Tema</p>
  </body>
</html>
{{end}}